@use "../base/mixins" as m;
@use "../base/variables" as v;

.field{
    width: 100%;
    display: flex;
    padding: 1rem;
    gap: 1rem;

    label{
        font-size: 2rem;
        width: 10rem;
    }

    select,input{
        width: calc(100% - 10REM);
        padding: 0.7rem;
        border-radius: 0.5rem;
        border: transparent;

        &:disabled{
            color: white;
        }

    }
    align-items: center;



}

.button-position-end{
    display: flex;
    justify-content: end;
}

.button-position-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
        margin: 0;
    }
    input{
        margin: 1rem;
        height: 4rem;
        width: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0rem;
    }
}

.button-position-between{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    .summary.admin{
        margin: 0rem;
    }


    border-top: 1px solid gray;

    &.welcome{
        border: none;
    }


    .button-delete{
       margin: 0.5rem;
       padding: 1rem 1.5rem;

    }

    .button-register{
        margin: 0.5rem;
        padding: 1rem 1.5rem;
    }

    text-align: center;

    &.services{
        background-color: transparent;
    }

}
.button-position-between.welcome{
    margin: auto;
    margin-top: 1rem;
    display: block;
    border-bottom: 1px solid gray;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    .button-admin{
        text-wrap: nowrap;
        display: inline-block;
        margin: 1rem;
        padding: 1rem 2rem;
    }

    @include m.tablet(){
        flex-direction: column;

        .button-admin{
            width: 96%;
            text-align: center;
            margin: 1rem;

        }
    }
}


@include m.phone(){
    .button-position-space.first{
        flex-direction: column;
    }

}

.section{
    p{
        text-align: center
    }

    display: none;

}

.button-login{
    @include m.button(v.$blue, v.$white);
    padding: 1rem 1.5rem;
}


.button-admin{
    @include m.button(rgb(97, 91, 40), v.$white);
    padding: 1rem 1.5rem;
}

.actions{

    p{
        color: v.$white;
        font-size: 1.8rem;
    }

    a{
        color: v.$green;
        font-size: 1.8rem;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.desktop(){
        flex-direction: column;
        align-items: start;
    }

}

.visibilityOff{
    visibility: hidden;
}

.displayblock{
    display: block;
}
