@use "../base/mixins" as m;
@use "../base/variables" as v;

.button-register{
    @include m.button(v.$green, v.$white);
    padding: 1rem 1.5rem;
}

.summary-list{

    .summary{

        font-size: 2.2rem;

        span{
            font-weight: v.$bolder;
            color: v.$blue;
        }
        margin: 1rem auto;

    }


}

.summary-services{

    &.admin{

        div{
        &:first-child{

            background-color: transparent;
            }
        }
    }

    div{

        margin: 0.3rem 0.5rem;
        background-color: darken(gray,10%);
        display: flex;
        justify-content: space-between;
        padding: 0rem 1rem;
        margin: 0.5rem;
        border-radius: 0.5rem;

        p:nth-last-child(1){
            color: lighten(v.$green, 20%);
            font-weight: v.$bolder;
        }

        &:nth-child(odd){
            background-color: darken(gray, 20%);
        }

        @include m.phone(){
            flex-direction: column;
            p{
                margin: 0.5rem auto;
            }
        }

    }
}